{:paths ["src" "resources"]
 :deps  {org.clojure/clojure              {:mvn/version "1.10.0"}
         io.pedestal/pedestal.interceptor {:mvn/version "0.5.7"}
         io.pedestal/pedestal.log         {:mvn/version "0.5.7"}}

 :aliases {:provided {:extra-deps {com.datomic/ion {:mvn/version "0.9.35"}}}
           :dev {:extra-deps {io.pedestal/pedestal.service {:mvn/version "0.5.7"}
                              javax.servlet/javax.servlet-api {:mvn/version "3.1.0"}
                              com.datomic/ion-dev          {:mvn/version "0.9.251"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}}
           :runner {:main-opts ["-m" "cognitect.test-runner"]}}

 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}}
